@model MVCDemo.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<table style="font-family:Arial">
    <tr>
        <td>ID: </td>
        <td>@Model.EmpId</td>
    </tr>
    <tr>
        <td>Name: </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Gender: </td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>City: </td>
        <td>@Model.City</td>
    </tr>
</table>
@Html.ActionLink("Back To List", "GetAllEmployee")
